# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Python virtual environments
.venv/
venv/
ENV/
env/

# Node dependency directories
node_modules/
frontends/node_modules/
frontend/node_modules/
**/node_modules/

# Distribution / packaging
*.zip
frontend.zip
*.tar.gz
*.tgz

# Cache folders
**/.cache/
**/__pycache__/
*.py[cod]
*$py.class

# Large media files
*.mp4
*.mov
*.wav
*.mp3

# Local development configuration
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Node artifact files
dist/
backend/uploads/

# Compiled Java class files
*.class
frontend/build/
frontend/build

# Log files
*.log
backend/routes/unit-tests/

# Package files
*.jar

# Maven
target/
dist/

# Unit test reports
TEST*.xml

# Applications
*.app
*.exe
*.war

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
Accesskey.json
backend/Accesskey.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/backend/uploads
/backend/trash
/frontend/src/components/TrashBucket/TrashBucket.test.js
/s2t-small-librispeech-asr
notes.txt
*.sh
OUTPUT_TEST/

INPUT_AUDIO_TEST/
Accesskey.json

frontend/src/__tests__
frontend/src/components/Accesskey.json
backend/Accesskey.json

/backend/doc_store.json

# more ignores (new frontend implementation)

#backend files
.pytest_cache/
backend\routes\unittests\dummy_path.wav
# add your own dummy_path.wav when unittesting
# removed req.txt, if that was needed refer to previous commits
doc_store.json
# added doc_store.json to .gitignore, if that was needed refer to previous commits
# was added because doc_store.json commits local save data not present in other branches/machines
