.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Doclist ul {
  display: grid;
    grid-auto-flow: column;  /* Places items in a row */
    gap: 10px;  /* Spacing between items */
    list-style: none;
    padding: 0;
}

.Doclist li {
  padding: 10px;
  background-color: #090909;
  border-radius: 5px;
}

.Doclist li:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}


