.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TrashBucket-container {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.TrashBucket {
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TrashBucket h3 {
  margin-bottom: 1rem;
  color: #343a40;
}

.TrashBucket ul {
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5em; /* Reduce gap between items */
  list-style-type: none;
}

.trash-item {
  padding: 5px; /* Reduce padding */
  background-color: #090909;
  border-radius: 5px;
  color: white;
}

.trash-item:hover {
  background-color: #54525b; /* Change hover color */
  color: #fff;
}

.trash-filename {
  color: #fefeff;
  font-weight: 500;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}

p {
  color: #495057;
  font-weight: 500;
  margin-top: 1rem;
}
